body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box{
    width: 100%;
    max-width: 500px;
    padding: 40px 20px;
    border-radius: 5px;
    border: 1.5px solid #444

}

.B-text-t{
    font-size: 30px;
    font-weight: 700;
    display: flex;
    margin-bottom: 20px;
}

.bold-t{
    font-weight: 700;
    color: black;
}
.B-text-c{
    font-size:20px;
    display: flex;
    color: #444;
    font-weight: 500;
}

.B-text{
    margin-bottom: 20px;
}

.inputbox{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.input{
    padding: 12px;
    font-size: 16px;
    background-color: #ebebeb    ;
    border-radius: 8px;
    border:none;
}
.label{
    color: #444;
    margin-bottom: 10px;
    font-weight: 500;

}

.join-bt{
    padding: 12px;
    font-size: 16px;
    background-color: #444;
    width: 500px;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}